<section class="container">
  <div class="banner">
    <div class="banner-text">
      <h2>Promotional Banner</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text.
      </p>
    </div>
    <span class="banner-left"></span>
  </div>
</section>