<section>
  <div class="{% unless section.settings.checkbox_section_stretch %} section-container {% endunless %}">
    <div class="d-flex--default wrap {% if section.settings.checkbox_section_exchange %}d-flex--revert{% endif %}">
      <div class="description--default {% if section.settings.checkbox_section_stretch %}description--stretch{% endif %}">
        <div class="tal description__best_way {% if section.settings.checkbox_section_exchange %}description__best_way--exchange{% endif %}">
          <h3 class="h3 marg-b-25 {% if section.settings.checkbox_section_stretch %}color-white-stretch{% endif %}">The best way to restore beauty, youth, health and strength</h3>
          <p class="text marg-b-25 {% if section.settings.checkbox_section_stretch %}color-white-stretch{% endif %}">
            Dermacolla - the premium brand in German vitamins. They are aimed at preserving and restoring natural
            beauty, moisturizing the skin, accelerating hair growth and strengthening nails, delivering vital moisture
                                    to the tissues, and aiding the process that leads to the reduction of cellulite.
          </p>
          <a class="btn--small {% if section.settings.checkbox_section_stretch %}color-white-stretch{% endif %}" href="">About dermacolla</a>
        </div>
      </div>
      <div class="video-wrap--default">
        <video
          class="video--default {% if section.settings.checkbox_section_stretch %}video--stretch{% endif %}"
          loop=""
          autoplay=""
          muted=""
          id="vid">
          <source src="https://cdn.shopify.com/s/files/1/0613/5654/0062/files/dermacolla_video_1080.mp4?v=1652206982" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "best_way",
    "settings": [
      {
        "type": "checkbox",
        "id": "checkbox_section_stretch",
        "label": "Stretch the section to full screen"
      },
      {
        "type": "checkbox",
        "id": "checkbox_section_exchange",
        "label": "Swap the block of text and picture"
      }
    ]
  }
{% endschema %}