<div class="breadcrumbs">
  <div class="container">
    <ul class="breadcrumbs-list">
      <li class="breadcrumbs-list-item">
        <a class="breadcrumbs-list-link"
          href="#">
          Home</a><img src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/arrow.svg?v=1677694745" alt="">
      </li>

      <li class="breadcrumbs-list-item">
        <a class="breadcrumbs-list-link" href="#">
          Table</a><img src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/arrow.svg?v=1677694745" alt="" />
      </li>

      <li class="breadcrumbs-list-item active">
        <a href="#">Product Name</a>
      </li>
    </ul>
  </div>
</div>
