<section class="container marg-b">
  <div class="products">
    <h2 class="h2">Products</h2>
    <hr/>
    <p class="txt txt-15 products-parag">
      Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text.
    </p>
  </div>
  <div class="swiper mySwiper swiper-initialized swiper-horizontal swiper-css-mode e--mob">
    <div
      class="swiper-wrapper"
      id="swiper-wrapper-1432e667cd7711d0"
      aria-live="polite">
      <div
        class="swiper-slide swiper-slide-active"
        role="group"
        aria-label="1 / 4">
        <picture>
          <img
            class="swiper-picture"
            src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/mob-tiles.jpg?v=1677694745"
            alt="Bathroom Tiles" />
        </picture>
        <div class="description">
          <h3 class="description-header">Bathroom Tiles</h3>
          <p class="description-parag">
            Ante mus blandit sapien sociosqu per consequat ad.
          </p>
        </div>
      </div>
      <div
        class="swiper-slide swiper-slide-next"
        role="group"
        aria-label="2 / 4">
        <picture>
          <img
            class="swiper-picture"
            src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/marble.jpg?v=1677694746"
            alt="Marble" />
        </picture>
        <div class="description">
          <h3 class="description-header">Marble</h3>
          <p class="description-parag">
            Ante mus blandit sapien sociosqu
          </p>
        </div>
      </div>
      <div
        class="swiper-slide"
        role="group"
        aria-label="3 / 4">
        <picture>
          <img
            class="swiper-picture"
            src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/flooring.jpg?v=1677694745"
            alt="Outdoor Flooring" />
        </picture>
        <div class="description">
          <h3 class="description-header">Outdoor Flooring</h3>
          <p class="description-parag">
            Ante mus blandit sapien sociosqu per consequat ad.
          </p>
        </div>
      </div>

      <div
        class="swiper-slide swiper-slide-active"
        role="group"
        aria-label="4 / 4">
        <picture>
          <img
            class="swiper-picture"
            src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/interior.jpg?v=1677694745"
            alt="Kitchen Interior" />
        </picture>
        <div class="description">
          <h3 class="description-header">Kitchen Interior</h3>
          <p class="description-parag">
            Ante mus blandit sapien sociosqu per consequat ad.
          </p>
        </div>
      </div>
    </div>
    <div
      class="swiper-button-next"
      tabindex="0"
      role="button"
      aria-label="Next slide"
      aria-controls="swiper-wrapper-1432e667cd7711d0"
      aria-disabled="false"></div>
    <div
      class="swiper-button-prev swiper-button-disabled"
      tabindex="-1"
      role="button"
      aria-label="Previous slide"
      aria-controls="swiper-wrapper-1432e667cd7711d0"
      aria-disabled="true"></div>
    <div class="swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal">
      <span class="swiper-pagination-bullet swiper-pagination-bullet-active" aria-current="true"></span>
      <span class="swiper-pagination-bullet"></span>
      <span class="swiper-pagination-bullet"></span>
      <span class="swiper-pagination-bullet"></span>
    </div>
    <span
      class="swiper-notification"
      aria-live="assertive"
      aria-atomic="true"></span>
  </div>

  <div class="d-flex fl-start jc-around stretch e--dsk">
    <div class="flex-column">
      <picture>
        <img
          class="swiper-picture"
          src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/tiles.jpg?v=1677694745"
          alt="Bathroom Tiles"
          width="388"
          height="350" />
      </picture>
      <div class="description flex-column jcc">
        <h3 class="description-header">Bathroom Tiles</h3>
        <p class="description-parag">
          Ante mus blandit sapien sociosqu per consequat ad.
        </p>
      </div>
    </div>
    <div class="flex-column">
      <picture>
        <img
          class="swiper-picture"
          src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/marble.jpg?v=1677694746"
          alt="Marble"
          width="388"
          height="350" />
      </picture>
      <div class="description flex-column jcc">
        <h3 class="description-header">Marble</h3>
        <p class="description-parag">Ante mus blandit sapien sociosqu</p>
      </div>
    </div>
    <div class="flex-column jc-between">
      <div class="flex-column">
        <picture>
          <img
            class="swiper-picture"
            src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/flooring.jpg?v=1677694745"
            alt=""
            width="388"
            height="350" />
        </picture>
        <div class="description flex-column jcc">
          <h3 class="description-header">Outdoor Flooring</h3>
          <p class="description-parag">
            Ante mus blandit sapien sociosqu per consequat ad.
          </p>
        </div>
      </div>

      <div class="flex-column">
        <picture>
          <img
            class="swiper-picture"
            src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/interior.jpg?v=1677694745"
            alt="Kitchen interior"
            width="388"
            height="350" />
        </picture>
        <div class="description flex-column jcc">
          <h3 class="description-header">Kitchen Interior</h3>
          <p class="description-parag">
            Ante mus blandit sapien sociosqu per consequat ad.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>