<section>
  <div class="container">
    <div class="collections d-flex flex-column marg-b">
      {% if page.title != "Catalog" %}
        <h2 class="h2">Tile Collections</h2>
        <hr/>
        <p class="txt txt-15">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text.
        </p>
      {% endif %}

      <div class="collections-cards">
        {%- for product in section.settings.category_top_left.products -%}
          {% render 'custom-card-product', card_product: product %}
        {% endfor %}
      </div>

      <button class="button button-black">more products</button>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "collection",
    "settings": [
      {
        "type": "collection",
        "id": "category_top_left",
        "label": "Category Top Left"
      }
    ]
  }
{% endschema %}