<section>
  <div
    class="container">
    <div
      class="collections d-flex flex-column marg-b">
      {% if page.title != "Catalog" %}
        <h2
          class="h2">{{ section.settings.collection_heading }}</h2>
        <hr/>
        <p
          class="txt txt-15">
          {{ section.settings.collection_parag }}
        </p>
      {% endif %}

      <div
        class="collections-cards">
        {%- for product in section.settings.category_top_left.products -%}
          {% render 'custom-card-product', card_product: product %}
        {% endfor %}
      </div>

      <a
        class="button button-black"
        href="
        {%- unless section.settings.link_collections == blank -%}
          {{- section.settings.link_collections -}}
        {%- else -%}
          #
        {%- endunless -%}">{{ section.settings.collection_button }}</a>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "collection",
    "settings": [
      {
        "type": "collection",
        "id": "category_top_left",
        "label": "Category Top Left"
      },
      {
        "type": "text",
        "id": "collection_heading",
        "label": "Change text of heading",
        "default": "Tile Collections"
      },
      {
        "type": "textarea",
        "id": "collection_parag",
        "label": "Change text of paragraph",
        "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text."
      },
      {
        "type": "text",
        "id": "collection_button",
        "label": "Change text of button",
        "default": "more products"
      },
      {
        "type": "url",
        "id": "link_collections",
        "label": "Change Link"
      }
    ]
  }
{% endschema %}