<div class="container">
  <div class="filters">
    <p class="filters-showing">Showing 1 - 15 of 22 results</p>

    <div
      class="filters-btns">
      <div class="filters-filter">
        <button class="filters-btn-f">
          <span>Filter</span>
          <img src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/filter.svg?v=1677694745" alt="" />
        </button>
        <button class="filters-btn-s">
          <span>Sort by price</span>
          <img src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/arrow-grey.svg?v=1677694745" alt="" />
        </button>
      </div>

      <button class="filters-search">
        <img src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/search.svg?v=1677694745" alt="" />
      </button>

      <div class="filters-lines">
        <button>
          <img src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/lines-1.svg?v=1677694745" alt="" />
        </button>

        <button>
          <img src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/lines-2.svg?v=1677694745" alt="" />
        </button>

        <button>
          <img src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/lines-3.svg?v=1677694745" alt="" />
        </button>

        <button>
          <img src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/lines-4.svg?v=1677694745" alt="" />
        </button>

        <button>
          <img src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/lines-5.svg?v=1677694745" alt="" />
        </button>

        <button>
          <img src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/lines-6.svg?v=1677694745" alt="" />
        </button>
      </div>
    </div>
  </div>
</div>