<footer>
  <div class="container">
    <div class="footer">
      <div class="footer-wrap">
        <picture class="footer-logo">
          <img
            src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/logo-white.svg?v=1677694745"
            alt="logo">
        </picture>

        <ul class="footer-nav">
          <li>
            <p class="footer-nav-head">Products</p>
            <ul class="e--dsk footer-nav-links">
              {% for link in section.settings.footer_menu.links limit: 4 %}
                <li>
                  <a class="footer-nav-link" href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <p class="footer-nav-head">Services</p>
            <ul class="e--dsk footer-nav-links">
              {% for link in section.settings.footer_menu.links offset: 4 %}
                <li>
                  <a class="footer-nav-link" href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <p class="footer-nav-head">Contact information</p>
            <ul class="e--dsk footer-nav-links">
              <li class="footer-nav-contact">
                3181 Al Imam Saud Ibn Abdul Aziz Branch Rd,
              </li>
              <li class="footer-nav-contact">An Nuzhah, Riyadh 12474,</li>
              <li class="footer-nav-contact">Saudi Arabia</li>
            </ul>
          </li>
        </ul>
      </div>

      <ul class="footer-links">
        <li>
          <a href="#">
            <picture><img src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/facebook.svg?v=1677694745" alt="facebook-logo" /></picture>
          </a>
        </li>
        <li>
          <a href="#">
            <picture><img src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/twitter.svg?v=1677694745" alt="twitter-logo" /></picture>
          </a>
        </li>
        <li>
          <a href="#">
            <picture><img src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/instagram.svg?v=1677694745" alt="instagram-logo" /></picture>
          </a>
        </li>
      </ul>

      <div class="footer-copyright">
        <p class="footer-copyright-item">
          Copyright © 2022 | All Rights Reserved.
        </p>
        <p class="footer-copyright-item">
          Created with love by thecreation.design
        </p>
      </div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_menu",
        "label": "Add your menu-link"
      }
    ]
  }
{% endschema %}