<header>
  <div class="container">
    <div class="header">
      <button class="header-icon e--mob">
        <img
          src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/mob-menu.svg?v=1677694745"
          alt="Mobile menu"
          width="24"
          height="12" />
      </button>

      <img
        class="header-logo"
        src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/logo.svg?v=1677694745"
        alt="Logo"
        width="101"
        height="36" />

      <div class="d-flex">
        <button class="header-icon e--dsk">
          <img
            src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/search.svg?v=1677694745"
            alt="Search"
            width="17"
            height="17" />
        </button>

        <nav>
          <a href="./index.html" class="header-link active">Home</a>
          <a href="#" class="header-link">Spaces</a>
          <a href="./catalog_page.html" class="header-link">Products &amp; Services</a>
          <a href="#" class="header-link">Showrooms</a>
          <a href="#" class="header-link">Showrooms</a>
          <a href="#" class="header-link">Company</a>
          <a href="#" class="header-link">Media</a>
          <a href="#" class="header-link">CONTACT</a>
        </nav>

        <div class="header-right-nav">
          <button class="header-icon">
            <img
              src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/cart.svg?v=1677694745"
              alt="Cart"
              width="21"
              height="20" />
          </button>
          <button class="header-icon e--dsk">
            <img
              src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/heart.svg?v=1677694745"
              alt="Search"
              width="20"
              height="18" />
          </button>
          <button class="header-icon e--dsk">
            <img
              src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/user.svg?v=1677694745"
              alt="Search"
              width="15"
              height="18" />
          </button>
        </div>
      </div>
    </div>
  </div>
</header>