<section class="hero-bg">
  <div style="height: 526px" class="container relative d-flex jcc">
    <div class="hero">
      <h1 class="hero-head">New Generation Ceramic Tile</h1>
      <p class="hero-parag">
        Penatibus sem vitae mollis luctus mi tellus. Maximus eu eleifend
        aptent dapibus metus maecenas consequat. Elementum interdum a semper. Netus nullam eros nisi volutpat nibh ex ultricies. Pharetra
                sagittis sit aliquet at. Magna nam platea justo.
      </p>
      <a class="button button-white" href="#">Learn more</a>
    </div>
  </div>
</section>