<section>
  <div class="container">
    <div class="d-flex">
      <div class="basis-660 d-flex flex-column e--f-shrink-0">
        <picture class="main-image"> 
          {{ product.images[0] | image_url: width: 900 | image_tag: 
           class: image_class,
           loading: lazy,
           sizes: sizes,
           widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946' }}
        </picture>
        <div class="d-flex e--f-start">
          {% for image in product.images offset: 1 %}
            <picture>
              {{ image | image_url: width: 160 | image_tag: 
               class: "sub-image",
               loading: lazy,
               sizes: sizes,
               widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946' }}
            </picture>
          {% endfor %}

        </div>
      </div>

      <div class="basis-60">
        <div class="">
          <h2 class="">Product Name</h2>
          <p class="">199,50 SAR</p>
          <p class="">Product Short Description senectus et netus et malesuada fames ac turpis egestas. Vesitbulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
          </p>
        </div>
        <div class="">
          <button class="" alt="one">1</button>
          <a href="cart.html">
            <button alt="add to cart" class="goods--block__btn2">Add to cart</button>
          </a>
          <button
            aria-label="like"
            alt="just button"
            class="goods--block__btn3">
            <svg
              class="goods--block__svg"
              height="26"
              width="26">
              <use xlink:href="./img/icons.svg#icon-25"></use>
            </svg>
          </button>
        </div>
        <div class="goods--block__item3">
          <ul class="goods--block__list">
            <li class="goods--block__list-child">Lorem ipsum dolor sit amet,</li>
            <li class="goods--block__list-child goods-child">Lorem ipsum dolor sit amet,</li>
            <li class="goods--block__list-child">Lorem ipsum dolor sit amet,</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="goods--block__bottom-item">
      <button alt="Description" class="goods--block__bottom-span1">Description</button>
      <button alt="Details" class="goods--block__bottom-span2">Details</button>
      <button alt="Reviews" class="goods--block__bottom-span3">Reviews(0)</button>
    </div>
    <p class="goods--block__bottom-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare euismod arcu, ac laoreet metus pulvinar feugiat. Praesent in feugiat ante, a dictum nunc. Pellentesque convallis tortor quis purus finibus aliquet. In hac habitasse platea dictumst. Proin vestibulum ante ac faucibus tristique. Integer quis efficitur dolor, at dignissim dolor.</p>
  </div>
</section>