<section>
  <div
    class="container">
    <div
      class=" d-flex flex-column gap-0 marg-b">
      <div
        class="projects">
        
        <h2
          class="h2">{{ section.settings.projects_heading }}</h2>
        <hr/>
        <p
          class="txt txt-15">
          {{ section.settings.projects_parag }}
        </p>
      </div>

      <div
        class="project-cards d-flex e--dsk">
        <div
          class="project-cards-item">
          <img
            src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/project1.jpg?v=1677694745"
            alt="Kingdom Tower" />
          <div
            class="title">
            <h3
              class="title-head">Kingdom Tower</h3>
            <p
              class="title-parag">Marble Flooring</p>
          </div>
        </div>
        <div
          class="project-cards-item">
          <img
            src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/project2.jpg?v=1677694745"
            alt="Dubai mall" />
          <div
            class="title">
            <h3
              class="title-head">Dubai mall</h3>
            <p
              class="title-parag">Wood Flooring</p>
          </div>
        </div>
        <div
          class="project-cards-item">
          <img
            src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/project3.jpg?v=1677694745"
            alt="King Road Offices" />
          <div
            class="title">
            <h3
              class="title-head">King Road Offices</h3>
            <p
              class="title-parag">Outdoor Flooring</p>
          </div>
        </div>
        <div
          class="project-cards-item">
          <img
            src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/project4.jpg?v=1677694745"
            alt="Beach Tower Alupang" />
          <div
            class="title">
            <h3
              class="title-head">Beach Tower Alupang</h3>
            <p
              class="title-parag">Wood Flooring</p>
          </div>
        </div>
      </div>

      <div
        class="swiper project mySwiper3 swiper-initialized swiper-horizontal swiper-css-mode e--mob">
        <div
          class="swiper-wrapper"
          id="swiper-wrapper-1432e667cd7711d0"
          aria-live="polite">
          <div
            class="swiper-slide swiper-slide-active"
            role="group"
            aria-label="1 / 4">
            <picture>
              <img
                class="swiper-picture"
                src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/project1.jpg?v=1677694745"
                alt="Kingdom Tower" />
            </picture>
            <div
              class="title">
              <h3
                class="title-head">Kingdom Tower</h3>
              <p
                class="title-parag">Marble Flooring</p>
            </div>
          </div>
          <div
            class="swiper-slide swiper-slide-next"
            role="group"
            aria-label="2 / 4">
            <picture>
              <img
                class="swiper-picture"
                src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/project2.jpg?v=1677694745"
                alt="Dubai mall" />
            </picture>
            <div
              class="title">
              <h3
                class="title-head">Dubai mall</h3>
              <p
                class="title-parag">Wood Flooring</p>
            </div>
          </div>
          <div
            class="swiper-slide"
            role="group"
            aria-label="3 / 4">
            <picture>
              <img
                class="swiper-picture"
                src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/project3.jpg?v=1677694745"
                alt="King Road Offices" />
            </picture>
            <div
              class="title">
              <h3
                class="title-head">King Road Offices</h3>
              <p
                class="title-parag">Outdoor Flooring</p>
            </div>
          </div>

          <div
            class="swiper-slide swiper-slide-active"
            role="group"
            aria-label="4 / 4">
            <picture>
              <img
                class="swiper-picture"
                src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/project4.jpg?v=1677694745"
                alt="Beach Tower Alupang" />
            </picture>
            <div
              class="title">
              <h3
                class="title-head">Beach Tower Alupang</h3>
              <p
                class="title-parag">Wood Flooring</p>
            </div>
          </div>
        </div>
        <div
          style="display: flex;"
          class="swiper-button-next swiper-button-next3"
          tabindex="0"
          role="button"
          aria-label="Next slide"
          aria-controls="swiper-wrapper-1432e667cd7711d0"
          aria-disabled="false"></div>
        <div
          style="display: flex;"
          class="swiper-button-prev swiper-button-prev3 swiper-button-disabled"
          tabindex="-1"
          role="button"
          aria-label="Previous slide"
          aria-controls="swiper-wrapper-1432e667cd7711d0"
          aria-disabled="true"></div>
        <span
          class="swiper-notification"
          aria-live="assertive"
          aria-atomic="true"></span>
      </div>

      <a
        class="button button-black button-big"
        href="
        {%- unless section.settings.link_collections == blank -%}
          {{- section.settings.link_collections -}}
        {%- else -%}
          #
        {%- endunless -%}">{{ section.settings.projects_button }}</a>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "solutions",
    "settings": [
      {
        "type": "text",
        "id": "projects_heading",
        "label": "Change text of heading",
        "default": "Projects"
      },
      {
        "type": "textarea",
        "id": "projects_parag",
        "label": "Change text of paragraph",
        "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text."
      },
      {
        "type": "text",
        "id": "projects_button",
        "label": "Change text of button",
        "default": "View all"
      },
      {
        "type": "url",
        "id": "link_collections",
        "label": "Change Link"
      }
    ]
  }
{% endschema %}