<section>
  <div class="container">
    <div class="rooms d-flex e--dsk">
      <div class="rooms-card-black">
        <span>Lorem Ipsum</span>
        <h3 class="rooms-card-head">Categories</h3>
        <p class="rooms-card-parag">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text
                  							ever since the 1500s,
        </p>
      </div>

      <a href="#">
        <div class="rooms-card">
          <div class="rooms-card-eclipce">
            <img src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/category-1.jpg?v=1677694745" alt="category of rooms" />
          </div>

          <div class="rooms-card-info">
            <span>Lorem Ipsum</span>
            <h3 class="rooms-card-head">Lorem Ipsum</h3>
            <p class="rooms-card-parag">Lorem Ipsum</p>
          </div>
        </div>
      </a>

      <a href="#">
        <div class="rooms-card">
          <div class="rooms-card-img">
            <div class="rooms-card-eclipce">
              <img src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/category-2.jpg?v=1677694746" alt="category of rooms" />
            </div>
          </div>

          <div class="rooms-card-info">
            <span>Lorem Ipsum</span>
            <h3 class="rooms-card-head">Lorem Ipsum</h3>
            <p class="rooms-card-parag">Lorem Ipsum</p>
          </div>
        </div>
      </a>

      <a href="#">
        <div class="rooms-card">
          <div class="rooms-card-img">
            <div class="rooms-card-eclipce">
              <div class="rooms-card-eclipce">
                <img src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/category-3.jpg?v=1677694745" alt="category of rooms" />
              </div>
            </div>
          </div>

          <div class="rooms-card-info">
            <span>Lorem Ipsum</span>
            <h3 class="rooms-card-head">Lorem Ipsum</h3>
            <p class="rooms-card-parag">Lorem Ipsum</p>
          </div>
        </div>
      </a>
    </div>

    <div class="rooms-card-black e--mob">
      <span>Lorem Ipsum</span>
      <h3 class="rooms-card-head">Categories</h3>
      <p class="rooms-card-parag">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text
              						ever since the 1500s,
      </p>
    </div>

    <div class="swiper simple mySwiper swiper-initialized swiper-horizontal swiper-css-mode e--mob">
      <div
        class="swiper-wrapper"
        id="swiper-wrapper-1432e667cd7711d0"
        aria-live="polite">
        <div
          class="swiper-slide swiper-slide-active"
          role="group"
          aria-label="1 / 3">
          <a href="#">
            <div class="rooms-card">
              <div class="rooms-card-eclipce">
                <img class="rooms-card-img" src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/category-1.jpg?v=1677694745" alt="category of rooms" />
              </div>

              <div class="rooms-card-info">
                <span>Lorem Ipsum</span>
                <h3 class="rooms-card-head">Lorem Ipsum</h3>
                <p class="rooms-card-parag">Lorem Ipsum</p>
              </div>
            </div>
          </a>
        </div>
        <div
          class="swiper-slide swiper-slide-next"
          role="group"
          aria-label="2 / 3">
          <a href="#">
            <div class="rooms-card">
              <div class="rooms-card-img">
                <div class="rooms-card-eclipce">
                  <img class="rooms-card-img" src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/category-2.jpg?v=1677694746" alt="category of rooms" />
                </div>
              </div>

              <div class="rooms-card-info">
                <span>Lorem Ipsum</span>
                <h3 class="rooms-card-head">Lorem Ipsum</h3>
                <p class="rooms-card-parag">Lorem Ipsum</p>
              </div>
            </div>
          </a>
        </div>
        <div
          class="swiper-slide"
          role="group"
          aria-label="3 / 3">
          <a href="#">
            <div class="rooms-card">
              <div class="rooms-card-img">
                <div class="rooms-card-eclipce">
                  <div class="rooms-card-eclipce">
                    <img class="rooms-card-img" src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/category-3.jpg?v=1677694745" alt="category of rooms" />
                  </div>
                </div>
              </div>

              <div class="rooms-card-info">
                <span>Lorem Ipsum</span>
                <h3 class="rooms-card-head">Lorem Ipsum</h3>
                <p class="rooms-card-parag">Lorem Ipsum</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div
        style="display: flex;"
        class="swiper-button-next"
        tabindex="0"
        role="button"
        aria-label="Next slide"
        aria-controls="swiper-wrapper-1432e667cd7711d0"
        aria-disabled="false"></div>
      <div
        style="display: flex;"
        class="swiper-button-prev swiper-button-disabled"
        tabindex="-1"
        role="button"
        aria-label="Previous slide"
        aria-controls="swiper-wrapper-1432e667cd7711d0"
        aria-disabled="true"></div>
      <span
        class="swiper-notification"
        aria-live="assertive"
        aria-atomic="true"></span>
    </div>
  </div>
</section>