<section class="container">
  <div class="showrooms">
    <picture class="showrooms-img">
      <img src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/showrooms.jpg?v=1677694745" alt="Showrooms" />
    </picture>

    <div class="showrooms-info">
      <h1 class="h2">Our Showrooms</h1>
      <p class="txt txt-20">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text.
      </p>
      <a class="button button-black" href="#">Learn more</a>
    </div>
  </div>
</section>
<div style="display: block;" class="showrooms-bg"></div>
