<section>
  <div class="container relative">
    <div class="vision">
      <h1 class="h2">Vision</h1>
      <p class="txt txt-20">
        Penatibus sem vitae mollis luctus mi tellus. Maximus eu eleifend
        aptent dapibus metus maecenas consequat. Elementum interdum a
                    semper. Netus nullam eros nisi volutpat nibh ex ultricies. Pharetra
                    sagittis sit aliquet at. Magna nam platea justo.
      </p>
      <a class="button button-black" href="#">Learn more</a>
    </div>

    <picture class="vision-img e--dsk">
      <img src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/vision.jpg?v=1677694746" alt="Vision" />
    </picture>
  </div>
</section>
<div class="vision-bg" style="display: block"></div>