@font-face {
    font-family: "Proxima Nova";
    src: url("./Proxima%20Nova%20Regular.eot");
    src: url("./Proxima%20Nova%20Regular.eot?#iefix") format("embedded-opentype"),
        url("./Proxima%20Nova%20Regular.woff") format("woff"),
        url("./Proxima%20Nova%20Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("./Proxima%20Nova%20Bold.eot");
    src: local("☺"), url("./Proxima%20Nova%20Bold.woff") format("woff"),
        url("./Proxima%20Nova%20Bold.ttf") format("truetype"),
        url("./Proxima%20Nova%20Bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("./Proxima%20Nova%20Semibold.eot");
    src: local("☺"), url("./Proxima%20Nova%20Semibold.woff") format("woff"),
        url("./Proxima%20Nova%20Semibold.ttf") format("truetype"),
        url("./Proxima%20Nova%20Semibold.svg") format("svg");
    font-weight: 600;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background-color: inherit;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.bigred {
    font-size: 20px;
    color: red;
}

body {
    font-family: "Proxima Nova", sans-serif;
    background-color: #fff;
}

hr {
    border-bottom: 3px solid #c4c4c4;
    width: 125px;
    margin: 0 auto;
    margin-bottom: 14px;
}

@media screen and (min-width: 992px) {
    hr {
        border-bottom: 5px solid #c4c4c4;
        margin-bottom: 30px;
        width: 150px;
    }
}

.button {
    display: inline-block;
    padding: 14px 40px;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 992px) {
    .button {
        padding: 16px 40px;
        font-size: 16px;
        line-height: 19px;
    }
}

.button--e-heart {
    padding: 22px;
    box-shadow: 0 0 0 var(--inputs-border-width) rgba(var(--color-foreground), var(--inputs-border-opacity));
    transition: all .3s ease-in-out;
}

@media screen and (max-width: 992px) {
    .button--e-heart {
        height: 45px;
        width: 45px;
        padding: 12px;
    }
}

@media screen and (max-width: 992px) {
    .quantity-min-h {
        min-height: 45px;
    }
}

.button--e-heart:hover {
    filter: invert(22%) sepia(90%) saturate(7485%) hue-rotate(359deg) brightness(95%) contrast(121%);
}

.button-white {
    color: #040404;
    background-color: #fff;
}

.button-white:hover,
.button-white:active {
    color: #fff;
    background-color: #040404;
}

.button-black {
    color: #fff;
    background-color: #040404;
    border: 2px solid #111010;
}

.button-lite-black {
    background-color: #22222B;
    color: #fff;
    padding: 15px 30px;
    box-shadow: 0 0 0 var(--inputs-border-width) rgba(var(--color-foreground), var(--inputs-border-opacity));
}

.button-lite-black:hover {
    background-color: #fff;
    color: #000;
}

@media screen and (min-width: 992px) {
    .button-lite-black {
        padding: 22px 60px;
    }
}

.button-black:hover,
.button-black:active {
    color: #040404;
    background-color: #fff;
}

.button-big {
    padding: 14px 40px;
}

@media screen and (min-width: 992px) {
    .button-big {
        padding: 16px 54px;
    }
}

@media screen and (min-width: 992px) {
    .button-small {
        padding: 18px 34px;
    }
}

img {
    width: 100%;
    height: auto;
}

.container {
    padding: 0 20px;
    max-width: 1462px;
    margin: 0 auto;
}

.h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #111010;
}

@media screen and (min-width: 1200px) {
    .h1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        color: #111010;
    }
}

.h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    color: #111010;
}

@media screen and (min-width: 992px) {
    .h2 {
        font-size: 48px;
    }
}

.txt {
    color: #616161;
}

.txt-15 {
    font-size: 15px;
    line-height: 25px;
}

@media screen and (min-width: 992px) {
    .txt-15 {
        font-size: 20px;
        line-height: 28px;
    }
}

.txt-18 {
    color: #898989;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
}

.txt-20 {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.txt-30 {
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #151515;
}

.txt-600 {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

.black {
    color: #111010;
}

.w-full {
    width: 100%;
}

.marg-b {
    margin-bottom: 60px;
}

@media screen and (min-width: 992px) {
    .marg-b {
        margin-bottom: 120px;
    }
}

.marg-b-140 {
    margin-bottom: 80px;
}

@media screen and (min-width: 992px) {
    .marg-b-140 {
        margin-bottom: 140px;
    }
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.main-image {
    width: 100%;
    transition: all .3s ease-in-out;
}

@media screen and (max-width: 1200px) {
    .main-image {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .main-image {
        width: 90%;
    }
}

@media screen and (max-width: 1200px) {
    .product-pictures {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media screen and (max-width: 570px) {
    .product-pictures {
        flex-basis: auto;
    }
}

@media screen and (max-width: 1200px) {
    .product-pictures .sub-images-wrap {
        justify-content: center;
    }
}

.main-image:hover {
    filter: brightness(.8);
}

.e--f-start {
    justify-content: flex-start;
}

.e--f-shrink-0 {
    flex-shrink: 0;
}

@media screen and (max-width: 1200px) {
    .container>.e--mob-direction {
        flex-direction: column;
        gap: 40px;
    }
}

@media screen and (min-width: 992px) {
    .d-flex {
        width: 100%;
    }
}

.df-64 {
    display: flex;
    gap: 64px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.fl-start {
    align-items: flex-start;
}

.stretch {
    align-items: stretch;
}

.jcc {
    justify-content: center;
}

.aic {
    align-items: center;
}

.jc-around {
    justify-content: space-around;
}

.jc-between {
    justify-content: space-between;
}

.shrink-0 {
    flex-shrink: 0;
}

.gap-0 {
    gap: 0;
}

@media screen and (min-width: 550px) {
    .basis-660 {
        flex-basis: 660px;
    }
}

.basis-60 {
    flex-basis: 60%;
}

.relative {
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

@media screen and (min-width: 992px) {
    .header {
        flex-wrap: wrap;
        row-gap: 40px;
        padding-top: 44px;
        padding-bottom: 32px;
    }
}

.header-logo {
    width: 101px;
    height: 36px;
}

@media screen and (min-width: 992px) {
    .header-logo {
        width: 167px;
        height: 57px;
        flex-basis: 100%;
        order: -1;
    }
}

.header-right-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.header-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: all .2s ease-in-out;
}

@media screen and (min-width: 992px) {
    .header-icon:hover {
        filter: opacity(0.5);
    }
}

.header-nav {
    display: none;
}

@media screen and (min-width: 992px) {
    .header-nav {
        display: flex;
        max-width: 890px;
        width: 100%;
        justify-content: space-between;
    }
}

.header-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    color: #0a0a0a;
    transition: all 0.3s ease-in-out;
}

.header-link:hover {
    color: #979797;
}

.header-link.active {
    color: #979797;
}

.hero-bg {
    background-image: url(https://cdn.shopify.com/s/files/1/0726/7631/1323/files/mob-main-bg.jpg?v=1677694745);
    background-repeat: no-repeat;
    background-size: cover;
    height: 434px;
}

@media screen and (min-width: 429px) {
    .hero-bg {
        background-image: url(https://cdn.shopify.com/s/files/1/0726/7631/1323/files/main-bg.jpg?v=1677694746);
        height: 526px;
    }
}

@media screen and (min-width: 992px) {
    .hero-bg {
        margin-bottom: 75px;
    }
}

.hero {
    background-color: #666a6f;
    padding: 30px 20px;
    margin-top: -30px;
    max-width: 716px;
    margin-bottom: -250px;
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

@media screen and (min-width: 992px) {
    .hero {
        background: rgba(0, 0, 0, 0.36);
        backdrop-filter: blur(17px);
        padding: 50px 36px 52px 43px;
        margin: 0;
        position: absolute;
        top: 62px;
        right: 11.5%;
        bottom: auto;
    }
}

@media screen and (min-width: 1520px) {
    .hero {
        right: 0;
    }
}

.hero-head {
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    color: #ffffff;
    margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
    .hero-head {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 30px;
    }
}

.hero-parag {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #ececec;
    margin-bottom: 13px;
}

@media screen and (min-width: 992px) {
    .hero-parag {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 60px;
    }
}

.hero-link {
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    color: #040404;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.hero-link:hover,
.hero-link:active {
    color: #fff;
    background-color: #040404;
}

.products {
    margin-bottom: 25px;
    margin-top: 370px;
}

@media screen and (min-width: 429px) {
    .products {
        margin-top: 280px;
    }
}

@media screen and (min-width: 992px) {
    .products {
        margin-bottom: 40px;
        margin-top: 0;
    }
}

.products .h2 {
    text-align: center;
}

@media screen and (min-width: 992px) {
    .products .h2 {
        margin-bottom: 20px;
    }
}

.products .txt {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 26px;
    max-width: 635px;
}

@media screen and (min-width: 992px) {
    .products .txt {
        margin-bottom: 30px;
    }
}

.description {
    background-color: #000;
    border: 1px solid #ffffff;
    padding: 10px 35px;
    width: 93%;
    min-height: 93px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0 auto;
    transform: translate(0px, -50px);
}

@media screen and (min-width: 370px) {
    .description {
        padding: 20px 35px;
    }
}

@media screen and (min-width: 992px) {
    .description {
        position: unset;
        height: 114px;
        width: 93%;
        margin: 0 auto;
        margin-top: -85px;
        transform: translate(0px, -10px);
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 992px) and (max-width: 1048px) {
    .description {
        padding: 20px 15px;
    }
}

.description-header {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
}

@media screen and (min-width: 410px) {
    .description-header {
        font-size: 28px;
        line-height: 28px;
    }
}

@media screen and (min-width: 992px) {
    .description-header {
        margin-bottom: 10px;
    }
}

.description-parag {
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    color: #b4b4b4;
}

@media screen and (min-width: 410px) {
    .description-parag {
        font-size: 15px;
        line-height: 16px;
    }
}

.swiper {
    width: calc(100% + 40px);
    height: auto;
    margin: 0 -20px !important;
    padding: 0 20px !important;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: #fff;
    color: #000 !important;
    width: 37px !important;
    height: 37px !important;
    top: 40% !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 18px !important;
}

.swiper-picture {
    object-fit: cover;
    aspect-ratio: 1/0.9;
}

@media screen and (min-width: 992px) {
    .swiper-picture {
        width: 100%;
        height: auto;
        object-fit: unset;
        aspect-ratio: unset;
    }
}

.swiper-pagination-bullets {
    bottom: 25px !important;
}

.swiper-pagination-bullet {
    width: 5px !important;
    height: 5px !important;
    border-radius: 0 !important;
    background: #c4c4c4 !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background: #000 !important;
}

.swiper .swiper-slide {
    height: auto;
    display: flex;
    flex-direction: column;
}

.swiper.simple .swiper-button-next,
.swiper.simple .swiper-button-prev {
    top: 50% !important;
}

.swiper.simple .swiper-picture {
    aspect-ratio: 1/0.839;
}

.swiper.project .swiper-button-next,
.swiper.project .swiper-button-prev {
    top: 38% !important;
}

.vision-bg {
    background-image: url(https://cdn.shopify.com/s/files/1/0726/7631/1323/files/vision.jpg?v=1677694746);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 579px;
    margin-bottom: 60px;
}

@media screen and (min-width: 992px) {
    .vision-bg {
        background: none;
        height: 0;
        margin-bottom: 0;
    }
}

.vision {
    padding: 22px 20px 35px;
    background-color: #f7f7f7;
    max-width: 708px;
    margin: 0 auto -125px;
    z-index: 1;
}

@media screen and (min-width: 992px) {
    .vision {
        padding: 50px 55px 52px 43px;
        margin-bottom: 0px;
        position: absolute;
        top: 12%;
    }
}

.vision .h2 {
    margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
    .vision .h2 {
        margin-bottom: 30px;
    }
}

.vision .txt {
    margin-bottom: 24px;
}

@media screen and (min-width: 992px) {
    .vision .txt {
        margin-bottom: 60px;
    }
}

.vision-img {
    margin-bottom: 120px;
    display: block;
    width: 94.3%;
    height: auto;
    transform: translateX(6.5%);
}

.solutions {
    flex-direction: column;
    row-gap: 0;
    max-height: 726px;
    flex-wrap: wrap;
}

.solutions-title {
    max-width: 610px;
    text-align: center;
    margin: 0 auto 17px;
}

@media screen and (min-width: 992px) {
    .solutions-title {
        margin: 0;
        text-align: left;
    }
}

.solutions-title .h2 {
    line-height: 30px;
    margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
    .solutions-title .h2 {
        margin-bottom: 30px;
        line-height: 58px;
    }
}

.video-block {
    position: relative;
}

.video-block-content {
    background-image: url(https://cdn.shopify.com/s/files/1/0726/7631/1323/files/video-butt.svg?v=1677694745);
    background-repeat: no-repeat;
    background-position: 30px 25px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 34px 30px 34px 110px;
}

.video-block-content .txt-18:first-of-type {
    margin-bottom: 6px;
}

.projects .h2 {
    text-align: center;
}

@media screen and (min-width: 992px) {
    .projects .h2 {
        margin-bottom: 20px;
    }
}

.projects .txt {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 450px;
}

@media screen and (min-width: 992px) {
    .projects .txt {
        margin-bottom: 40px;
        max-width: 826px;
    }
}

.project-cards {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (min-width: 1400px) {
    .project-cards {
        gap: 30px;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
}

.title {
    margin-top: 23px;
    margin-bottom: 35px;
}

@media screen and (min-width: 992px) {
    .title {
        margin-top: 34px;
        margin-bottom: 50px;
    }
}

.title-head {
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    color: #111010;
    margin-bottom: 4px;
}

@media screen and (min-width: 350px) {
    .title-head {
        font-size: 26px;
        line-height: 26px;
    }
}

.title-parag {
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    text-transform: capitalize;
    color: rgba(17, 16, 16, 0.5);
}

.collections .h2 {
    text-align: center;
    margin-bottom: 20px;
}

.collections .txt {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 826px;
}

.collections-cards {
    margin-bottom: 34px;
    display: grid;
    grid-template-columns: 1;
    gap: 30px;
}

@media screen and (min-width: 768px) {
    .collections-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1120px) {
    .collections-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1485px) {
    .collections-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

.collections-card {
    position: relative;
    height: 470px;
    overflow: hidden;
    background-color: #f6f6f6;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-in-out;
}

.collections-card:hover .collections-card-description,
.collections-card:active .collections-card-description {
    bottom: 0;
}

.collections-card:hover .collections-card-description .button,
.collections-card:active .collections-card-description .button {
    opacity: 1;
}

.collections-card-img {
    margin: 12px 0 16px;
    transition: all .3s ease-in-out;
}

.collections-card-img:hover {
    scale: 1.05;
}

.collections-card-price {
    margin-top: 15px;
}

.collections-card-price s {
    font-size: 12px;
    line-height: 16px;
    text-transform: capitalize;
    color: #cacaca;
}

.collections-card-price span {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-transform: capitalize;
    color: rgba(17, 16, 16, 0.5);
}

.collections-card-description {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 25px 16px 20px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    align-items: center;
}

@media screen and (min-width: 992px) {
    .collections-card-description {
        bottom: -73px;
    }
}

.collections-card-description h3 {
    font-weight: 600;
    font-size: 26px;
    line-height: 1;
    text-align: center;
    text-transform: capitalize;
    color: #111010;
}

.collections-card-description h3:hover,
.collections-card-description h3:active {
    text-decoration: underline;
}

.collections-card-description .button {
    opacity: 1;
    border: 2px solid #111010;
    font-size: 16px;
    line-height: 19px;
    margin-top: 20px;
    width: auto;
    padding: 16px 37px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
        opacity 0.8s ease-in-out;
}

@media screen and (min-width: 992px) {
    .collections-card-description .button {
        opacity: 0;
    }
}

.collections-card-description .d-flex {
    gap: 10px;
}

.showrooms-bg {
    background-image: url(https://cdn.shopify.com/s/files/1/0726/7631/1323/files/showrooms.jpg?v=1677694745);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 669px;
}

@media screen and (min-width: 1300px) {
    .showrooms-bg {
        background: none;
        height: 0;
    }
}

.showrooms {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1300px) {
    .showrooms {
        margin-bottom: 120px;
    }
}

.showrooms-img {
    display: none;
}

@media screen and (min-width: 1300px) {
    .showrooms-img {
        display: block;
    }
}

.showrooms-info {
    position: relative;
    max-width: 692px;
    align-self: center;
    margin-left: -86px;
    padding: 22px 20px 47px;
    background-color: #f9f9f9;
}

@media screen and (max-width: 1300px) {
    .showrooms-info {
        margin-left: 0;
        margin-bottom: -70px;
    }
}

@media screen and (min-width: 992px) {
    .showrooms-info {
        padding: 80px 152px 80px 86px;
    }
}

@media screen and (min-width: 1400px) {
    .showrooms-info {
        padding: 120px 152px 120px 86px;
    }
}

.showrooms-info .h2 {
    margin-bottom: 30px;
    line-height: 56px;
}

@media screen and (min-width: 992px) {
    .showrooms-info .h2 {
        font-size: 56px;
    }
}

.showrooms-info .txt {
    margin-bottom: 60px;
    max-width: 454px;
}

@media screen and (min-width: 992px) {
    .showrooms-info .txt {
        max-width: max-content;
    }
}

footer {
    background-color: #111010;
}

.footer {
    padding: 29px 0 20px;
}

@media screen and (min-width: 992px) {
    .footer {
        padding: 70px 0 27px;
    }
}

@media screen and (min-width: 992px) {
    .footer-wrap {
        display: flex;
        justify-content: space-between;
    }
}

.footer-logo {
    display: block;
    width: 122px;
    height: 43px;
    margin: 0 auto 38px;
}

@media screen and (min-width: 992px) {
    .footer-logo {
        margin: 0;
        width: 162px;
        height: 57px;
    }
}

.footer-nav {
    border-bottom: 1px solid #474747;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media screen and (min-width: 992px) {
    .footer-nav li:last-child {
        margin-right: 20px;
    }
}

@media screen and (min-width: 992px) {
    .footer-nav {
        padding: 0;
        flex-direction: row;
        gap: 80px;
        border: none;
    }
}

@media screen and (min-width: 1100px) {
    .footer-nav {
        gap: 120px;
    }
}

@media screen and (min-width: 1300px) {
    .footer-nav {
        gap: 170px;
    }
}

.footer-nav-head {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-transform: capitalize;
    color: #ffffff;
    width: 100%;
    text-align: left;
}

@media screen and (min-width: 992px) {
    .footer-nav-head {
        background: none;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 992px) {
    .footer-nav-links {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

.footer-nav-link {
    font-size: 14px;
    line-height: 170%;
    text-transform: capitalize;
    color: #a4a4a4;
    transition: all 0.3s ease-in-out;
}

.footer-nav-link:hover,
.footer-nav-link:active {
    color: #fff;
}

.footer-nav-contact {
    font-size: 14px;
    line-height: 170%;
    text-transform: capitalize;
    color: #a4a4a4;
    transition: all 0.3s ease-in-out;
}

.footer-links {
    margin: 34px 0 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-links a:hover {
    filter: opacity(0.8);
}

@media screen and (min-width: 992px) {
    .footer-links {
        margin: 7px 0 42px;
        justify-content: flex-start;
        gap: 15px;
    }
}

.footer-links * {
    height: 100%;
}

.footer-links li {
    height: 25px;
}

@media screen and (min-width: 992px) {
    .footer-links li {
        height: 18px;
    }
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 992px) {
    .footer-copyright {
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer-copyright-item {
    font-size: 9px;
    line-height: 9px;
    letter-spacing: 0.183333px;
    color: #ffffff;
}

.catalog-bg {
    background-image: url(https://cdn.shopify.com/s/files/1/0726/7631/1323/files/catalog-bg.jpg?v=1677694745);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.catalog-bg-eclipse {
    background-color: rgba(37, 37, 37, 0.45);
}

.catalog {
    padding: 50px 0 30px;
    max-width: 357px;
    margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .catalog {
        padding: 100px 0 80px;
        max-width: 457px;
    }
}

@media screen and (min-width: 992px) {
    .catalog {
        max-width: 657px;
        padding: 227px 0 140px;
        margin-bottom: 100px;
    }
}

.catalog-head {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .catalog-head {
        font-size: 52px;
        line-height: 52px;
    }
}

@media screen and (min-width: 992px) {
    .catalog-head {
        font-size: 72px;
        line-height: 72px;
    }
}

.catalog .txt-20 {
    color: #e4e4e4;
}

@media screen and (max-width: 768px) {
    .catalog .txt-20 {
        font-size: 15px;
        line-height: 20px;
    }
}

.rooms {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

@media screen and (min-width: 992px) {
    .rooms {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

.rooms-card-black {
    background-color: #252525;
    padding: 48px 46px 94px 27px;
    flex-direction: column;
    margin: 0 20px 30px;
}

@media screen and (min-width: 992px) {
    .rooms-card-black {
        min-width: 329px;
        flex-basis: 23.1%;
        margin: 0;
    }
}

.rooms-card-black .rooms-card-head {
    margin-top: 14px;
    margin-bottom: 24px;
}

.rooms-card-black span {
    font-size: 15px;
    line-height: 28px;
    color: #ffffff;
}

.rooms-card-black .rooms-card-parag {
    font-size: 18px;
    line-height: 28px;
    color: #bcbcbc;
}

.rooms-card {
    position: relative;
}

.rooms-card-eclipce {
    position: relative;
}

.rooms-card-eclipce:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg,
            rgba(0, 0, 0, 0.65) -16.21%,
            rgba(196, 196, 196, 0) 118.83%);
}

.rooms-card span {
    font-size: 15px;
    line-height: 28px;
    color: #ffffff;
}

.rooms-card-head {
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    color: #ffffff;
}

.rooms-card-parag {
    font-size: 18px;
    line-height: 28px;
    color: #bcbcbc;
}

.rooms-card-info {
    position: absolute;
    bottom: 20px;
    left: 28px;
}

.rooms-card-img {
    aspect-ratio: 1/1.2;
}


.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .filters {
        justify-content: space-between;
    }
}

@media screen and (min-width: 992px) {
    .filters {
        margin-top: 100px;
        margin-bottom: 47px;
    }
}

.filters-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

.filters-filter {
    margin-right: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.filters-btn-f {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    transition: all .2s ease-in-out;
}

.filters-btn-f:hover {
    filter: opacity(0.5);
}

.filters-btn-f span {
    font-weight: 700;
    font-size: 15px;
    line-height: 28px;
    color: #252525;
}

.filters-btn-f img {
    width: 12px;
    height: 10px;
}

.filters-btn-s {
    display: flex;
    align-items: center;
    gap: 3px;
    transition: all .2s ease-in-out;
}

.filters-btn-s:hover {
    filter: opacity(0.5);
}

.filters-btn-s span {
    font-weight: 700;
    font-size: 15px;
    line-height: 28px;
    color: #252525;
}

.filters-btn-s img {
    width: 8px;
    height: 4px;
}

@media screen and (min-width: 768px) {
    .filters-search {
        margin-right: 21px;
        transition: all .2s ease-in-out;
    }

    .filters-search:hover {
        filter: opacity(0.5);
    }
}

.filters-lines {
    display: flex;
    align-items: center;
    gap: 12px;
}

.filters-lines button:hover {
    filter: opacity(0.5);
    transition: all .2s ease-in-out;
}

.filters-showing {
    font-size: 15px;
    line-height: 28px;
    color: #808080;
}

.banner {
    width: 100%;
    margin: 0 auto 100px;
    position: relative;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.08));
    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0.7) 100%,
            transparent 12%),
        url(https://cdn.shopify.com/s/files/1/0726/7631/1323/files/banner-bg.jpg?v=1677694745);
    background-repeat: no-repeat;
    background-position: top right;
}

@media screen and (min-width: 924px) {
    .banner {
        background: linear-gradient(120deg,
                rgba(255, 255, 255, 0.9) 63.7%,
                transparent 12%),
            url(https://cdn.shopify.com/s/files/1/0726/7631/1323/files/banner-bg.jpg?v=1677694745);
        background-repeat: no-repeat;
        background-position: top right;
    }
}

@media screen and (min-width: 1300px) {
    .banner {
        background: linear-gradient(120deg,
                rgba(255, 255, 255, 0.9) 43.7%,
                transparent 12%),
            url(https://cdn.shopify.com/s/files/1/0726/7631/1323/files/banner-bg.jpg?v=1677694745);
        background-repeat: no-repeat;
        background-position: top right;
    }
}

.banner-text {
    padding: 25px 22px;
    max-width: 532px;
    text-align: center;
    z-index: 2;
    position: relative;
}

@media screen and (min-width: 520px) {
    .banner-text {
        padding: 39px 32px;
        text-align: start;
    }
}

.banner-text h2 {
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 10px;
}

@media screen and (min-width: 520px) {
    .banner-text h2 {
        font-size: 40px;
        line-height: 60px;
    }
}

.banner-text p {
    font-size: 16px;
    line-height: 20px;
    color: #616161;
}

@media screen and (min-width: 520px) {
    .banner-text p {
        font-size: 20px;
        line-height: 28px;
    }
}

.banner-left {
    width: 100%;
    height: 115.4%;
    position: absolute;
    right: 30%;
    top: 0;
    z-index: 0;
    transform: rotate(30deg) skew(0deg, -30deg);
    transform-origin: top right;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.08));
}

@media screen and (min-width: 1300px) {
    .banner-left {
        right: 52.7%;
    }
}

@media screen and (min-width: 924px) {
    .banner-left {
        background: #fff;
    }
}

.breadcrumbs {
    background-color: #222222;
    margin-bottom: 50px;
}

.breadcrumbs-list {
    padding: 40px 0;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    list-style-type: none;
}

.breadcrumbs-list img {
    width: 16px;
    height: 20px;
    transform: rotate(-90deg);
    vertical-align: middle;
    margin-left: 7px;
}

@media screen and (max-width: 400px) {
    .breadcrumbs-list img {
        width: 13px;
        height: 17px;
    }
}

.breadcrumbs-list-item {
    position: relative;
    transition: all .3s ease-in-out;
}

.breadcrumbs-list-item a {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin-right: 25px;
}

@media screen and (max-width: 768px) {
    .breadcrumbs-list-item a {
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .breadcrumbs-list-item a {
        font-size: 13px;
        line-height: 17px;
    }
}

.breadcrumbs-list-item.active a {
    padding-bottom: 6px;
    border-bottom: 3px solid #C4C4C4;
}

.breadcrumbs-list-item:hover {
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.breadcrumbs-list-item:hover a {
    padding-bottom: 6px;
    border-bottom: 3px solid #C4C4C4;
}

.breadcrumbs-list-item:hover::after {
    margin-left: -3px;
}

.breadcrumbs-list-item:not(:last-child)::after {
    content: url(https://cdn.shopify.com/s/files/1/0731/5197/1633/files/arrow.svg?v=1677878584);
    display: inline-block;
    transform: rotateZ(-90deg);
    position: absolute;
    top: 8px;
    right: 0;
}

.sub-image {
    max-width: 160px;
    transition: all .3s ease-in-out;
}

.sub-image:hover {
    filter: brightness(.8);
}

@media screen and (max-width: 1200px) {
    .product-description {
        text-align: center;
    }
}

.product-description>.price {
    font-size: 30px;
    line-height: 45px;
    color: #000000;
}

@media screen and (max-width: 1200px) {
    .product-description>.price {
        font-size: 20px;
        line-height: 35px;
        color: #000000;
    }
}

.product-description .txt-15 {
    margin-top: 20px;
    margin-bottom: 65px;
}

@media screen and (max-width: 1200px) {
    .product-description .txt-15 {
        max-width: 75%;
        margin: 20px auto 35px;
    }
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 1200px) {
    .product-list {
        margin-top: 40px;
        align-items: center;
    }
}

.product-list li {
    list-style: inside;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

@media screen and (max-width: 1200px) {
    .product-list li {
        font-size: 16px;
        line-height: 20px;
    }
}

.product-list li::marker {
    color: #C4C4C4;
}

.product-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1400px) {
    .product-buttons {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
}

@media screen and (max-width: 1200px) {
    .product-buttons {
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 550px) {
    .product-buttons {
        flex-direction: column;
        gap: 15px;
    }
}

.product-description-drop {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    max-width: 86%;
    margin: 40px auto 100px;
}

@media screen and (max-width: 1200px) {
    .product-description-drop {
        text-align: center;
    }
}

.e--dsk {
    display: none;
}

@media screen and (min-width: 992px) {
    .e--dsk {
        display: flex;
    }
}

.menu-burger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: #ffffff;
    transform: translateX(-100%);
    transition: transform 0.5s;
}

.menu-burger.active {
    transform: translateX(0);
}

.menu-burger li {
    list-style-type: none;
}

.menu-burger-ul {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.menu-btn-burger {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.menu-btn-burger span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    transition: all 0.5s;
}

.menu-btn-burger span:nth-of-type(2) {
    top: calc(50% - 5px);
}

.menu-btn-burger span:nth-of-type(3) {
    top: calc(50% + 5px);
}

.menu-btn-burger.active span:nth-of-type(1) {
    display: none;
}

.menu-btn-burger.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn-burger.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}

.header-burger-link {
    padding: 10px 30px;
    display: inline-block;
    transition: all .3s ease-in-out;
    border-radius: 30px;
}

.header-burger-link:hover {
    color: #ffffff;
    background-color: #111010;
}

.ohidden {
    overflow: hidden;
}

@media screen and (min-width: 992px) {
    .dsk-none {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .mob-none {
        display: none;
    }
}

.e--mob {
    display: flex;
}

@media screen and (min-width: 992px) {
    .e--mob {
        display: none;
    }
}